@font-face {
   font-family: Lexend;
   src: url(../assets/lexend.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
   --clr-primary-600: rgb(142, 87, 66);
   --clr-primary-400: rgb(186, 124, 99);
   --clr-primary-200: rgb(250, 245, 243);

   --clr-neutral-900: rgb(0, 0, 0);
   --clr-neutral-600: rgb(42, 42, 42);
   --clr-neutral-400: rgb(135, 135, 135);
   --clr-neutral-100: rgb(255, 255, 255);
}

* {
   font-family: 'Lexend', sans-serif;
}
