.Admin {
   .unapproved-books {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1rem;
      justify-items: center;

      button {
         width: 100%;
         &:first-of-type {
            margin-top: 1rem;
            margin-bottom: 0;
         }
      }

      .book-item {
         border-radius: 0.5rem 0 0.5rem 0;
         box-shadow: 0 0 0.5rem var(--clr-neutral-200);
         display: block;
         position: relative;
         height: 18rem;

         img {
            width: 100%;
            height: 100%;
            border-radius: 0.5rem 0 0.5rem 0;
            object-fit: cover;
         }

         .top {
            display: block;
            position: absolute;
            border-radius: 0.5rem 0 0.5rem 0;
            background: var(--clr-neutral-600);
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            opacity: 0;
            transition: opacity 400ms;
            text-align: center;
            padding: 0 1rem;
            padding-top: 4rem;
            color: var(--clr-neutral-200);
            text-shadow: 0 0 0.5rem black;

            p {
               margin-bottom: 0.5rem;
            }

            &:hover {
               opacity: 0.9;
            }
         }

         &:hover {
            cursor: pointer;
         }
      }
   }
}
