.Dashboard {
   color: var(--clr-neutral-700);

   a {
      display: inline-block;
      color: var(--clr-primary-600);
      text-decoration: none;
      transition: 200ms;

      &:after {
         content: '';
         width: 0px;
         height: 3px;
         margin-top: -0.5rem;
         display: block;
         background: var(--clr-primary-600);
         transition: 200ms;
      }

      &:hover:after,
      &:focus:after {
         width: 100%;
      }
   }

   .Welcome {
      margin-bottom: 3rem;
   }

   .Stats {
      margin-bottom: 3rem;
   }

   .NewNotificationList .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
   }
}
