.Stats {
   table {
      width: 100%;

      th {
         text-align: left;
      }

      .red {
         color: rgb(220, 0, 0);
         font-weight: bold;
      }

      .green {
         color: rgb(0, 220, 0);
         font-weight: bold;
      }
   }
}
